extends layout.pug

block content
    div(id='app')
      if missingUser
        script(type='text/javascript').
            window.sobrMissingUser = '#{missingUser}';
      if user
        script(type='text/javascript').
          window.sobrWelcomeMsg = '#{user.welcomeMsg}';
          window.sobrUserName = '#{user.name}';
    script(type='text/javascript' src=js async charset='utf-8')
