extends layout.pug

block content
    div(id='app')
    if user
      script(type='text/javascript').
          window.sobrWelcomeMsg = '#{user.welcomeMsg}';
    script(type='text/javascript' src=js async charset='utf-8')
