:root {
  --color-peach: #f4aa94;
  --color-blue: #def1f1;
  --color-red: #ee7470;
  --color-dark-red: #e74e49;
  --color-dark: #000;
}
.error {
  color: var(--color-dark-red);
}

.mr2 {
  margin-right: 10px;
}

.bl0 {
  border-left: 0;
}

input[type="text"],
input[type="email"] {
  line-height: 24px;
  padding: 10px 16px;
  border: 1px solid #262627;
  transition: 0.2s ease;
  transition-property: background-color, border-color, color;
  text-transform: lowercase;
}

input:required {
  box-shadow: none;
}

button {
  line-height: 24px;
  cursor: pointer;
  padding: 10px 16px;
  border: 1px solid var(--color-dark);
  transition: 0.2s ease;
  transition-property: background-color, border-color, color;
  background-color: var(--color-red);
  color: #fff;
}

button:hover {
  background-color: var(--color-dark-red);
}

body {
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#app {
  width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
}
form input {
  flex-grow: 1;
}
